.vc-icon {
  --vc-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--vc-icon-color);
  font-size: inherit;
}
@each $val in primary, success, info, warning, danger {
  .vc-icon--$(val) {
    --vc-icon-color: var(--vc-color-$(val));
  }
}
