.vc-tooltip {
  /* width: 200px; */
  --vc-popper-font-size: 12px;
  --vc-popper-bg-color: var(--vc-color-success-dark-2);
  --vc-popper-border-color: var(--vc-text-color-success-dark-2);
  --vc-popper-border-radius: 4px;
  --vc-popper-padding: 6px;
  display: inline-block;
  .vc-tooltip__popper {
    color: var(--vc-bg-color);
    position: absolute;
    border-radius: var(--vc-popper-border-radius);
    padding: var(--vc-popper-padding);
    z-index: 2000;
    font-size: var(--vc-popper-font-size);
    line-height: 20px;
    min-width: 10px;
    overflow-wrap: break-word;
    visibility: visible;
    background: var(--vc-popper-bg-color);
    border: 1px solid var(--vc-popper-border-color);
  }
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
.vc-tooltip__popper[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

.vc-tooltip__popper[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

.vc-tooltip__popper[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

.vc-tooltip__popper[data-popper-placement^="right"] > #arrow {
  left: -4px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--vc-transition-duration) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
