.vc-tooltip {
  /* width: 200px; */
  --vc-popper-font-size: 12px;
  --vc-popper-bg-color: var(--vc-color-white);
  --vc-popper-border-color: var(--vc-border-color-dark);
  --vc-popper-text-clor: var(--vc-text-color);
  --vc-popper-border-radius: 4px;
  --vc-popper-padding: 6px;
  display: inline-block;
  .vc-tooltip__popper {
    color: var(--vc-popper-text-clor);
    position: absolute;
    border-radius: var(--vc-popper-border-radius);
    padding: var(--vc-popper-padding);
    box-sizing: border-box;
    z-index: 2000;
    font-size: var(--vc-popper-font-size);
    line-height: 20px;
    min-width: 10px;
    overflow-wrap: break-word;
    visibility: visible;
    background: var(--vc-popper-bg-color);
    border: 1px solid var(--vc-popper-border-color);
    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      box-sizing: border-box;
      border-color: var(--vc-popper-border-color);
      border-width: 1px;
    }

    #arrow {
      visibility: hidden;
    }

    #arrow::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
    &[data-popper-placement^="top"] > #arrow {
      bottom: -5px;
    }

    &[data-popper-placement^="bottom"] > #arrow {
      top: -5px;
    }

    &[data-popper-placement^="left"] > #arrow {
      right: -5px;
    }

    &[data-popper-placement^="right"] > #arrow {
      left: -5px;
    }

    &[data-popper-placement^="top"] > #arrow::before {
      border-right: 1px solid var(--vc-popper-border-color);
      border-bottom: 1px solid var(--vc-popper-border-color);
    }
    &[data-popper-placement^="bottom"] > #arrow::before {
      border-left: 1px solid var(--vc-popper-border-color);
      border-top: 1px solid var(--vc-popper-border-color);
    }
    &[data-popper-placement^="left"] > #arrow::before {
      border-right: 1px solid var(--vc-popper-border-color);
      border-top: 1px solid var(--vc-popper-border-color);
    }
    &[data-popper-placement^="right"] > #arrow::before {
      border-left: 1px solid var(--vc-popper-border-color);
      border-bottom: 1px solid var(--vc-popper-border-color);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--vc-transition-duration) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
